<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACAB 2</title>
</head>
<body>
<header class = 'header_show'>
    <p>Pure style but excellent content!</p>
    <p><br></p>
</header>
<main class="main_content">
    <div class="boxes_2">
        <div class="white_box">
            <p>matrix: {{matrix}}</p>
        </div>
        <div class="white_box">
            <p>vector b: {{b_vector}}</p>
        </div>
        <div class="white_box">
            <p>vector c: {{c_vector}}</p>
        </div>
        <div class="white_box">
            <p>optimal value: {{opt_val}}</p>
        </div>
        <div class="white_box">
            <p>solution vector: {{x_vector}}</p>
        </div>
    </div>
</main>
</body>
</html>